body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #ededed;
  color: rgb(0, 0, 0);
}

#header{
display:flex;
align-items: center;
justify-content: space-between;
padding: 20px 65px;
background-color: #ededed;
box-shadow: 0 5px 15px #7d7d7d;
z-index: 999;
position: sticky;
top: 0;
left: 0;
}

#navbar{
  display:flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 40px;
  transition: 0.25s ease;
  position: relative;
}

#navbar li a{
  text-decoration:none;
  font-size:20px;
  font-weight: 600;
  color:#84a2ac;
  transition: 0.3s ease;
}

#navbar li:hover {
  transform: scale(1.2);
}

#navbar li a:hover,
#navbar li a.active{
  color:#537482;
}

#mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}

#header img{
  width:auto;
  height:86px;
  border-radius: 13%;
  max-width: 100%;
}

#middle #background{
  height:50vh;
  width: 100%;
  background-size:cover ;
  background-position: top 25% right 0;
}

#middle h1,h2,h3{
  text-align: center;
  padding-left: 30px;
  font-size: 200%;
}

#middle h1{
  color:#537482;
  padding-bottom: 5px;
}

.section-pad1{
  padding:40px 80px;
}

#items .itembox{
width:360px;
text-align: center;
padding: 25px 15px;
background-color: white;
box-shadow:20px 20px 34px rgba(0,0,0,0.06);
border: 1px solid #7d7d7d;
margin-bottom: 20px;
border-radius: 5%;
}

#items .itembox:hover{
  box-shadow:10px 10px 54px rgba(0, 0, 0, 0.3);
}

#items .itembox img{
  width:260px;
  height: 300px;
  margin-bottom:10px;
}

#items {
  display:flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: wrap;
}
/*feature product*/
#product{
  text-align: center;
}

#product .pro{
  width:28%;
  min-width:250px;
  padding:10px 12px;
  border: 1px solid #7d7d7d;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.03);
  background-color: white;
  margin:15px 0 ;
  transition: 0.2s ease;
}

#product .pro:hover{
  box-shadow: 20px 20px 30px rgba(0,0,0,0.1);

}

#product .pro img{
  width: 100%;
  border-radius: 20px;
}

#product .pro .des{
  color: #537482;
  font-size: 32px;
  flex-direction: column;

}

#product .pro .des span{
  color: #000000;
  font-size:48px;
}

#product .pro-con{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px ;
  justify-content:  space-between;
}

footer{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

footer .col{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}


footer .logo{
  margin-bottom: 30px;
  width:auto;
  height:86px;
  border-radius: 13%;
  max-width: 100%;
}

footer h4{
  font-size: 32px;
  padding-bottom: 20px;
}

footer p{
  font-size: 16px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #000000 ;
  margin-bottom: 10px;
}

footer .social{
  margin-top:20px;
}

footer .social i{
  color:#000000;
  padding-right: 4px;
  cursor: pointer;
}

footer .social i:hover,
footer a:hover{
  color:#537482;
}

footer .copyright{
  width:100%;
  text-align:center;

}

@media screen and (max-width: 480px) {
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top:0;
    right: -120px;
    height: 100vh;
    width: 120px;
    background-color: #ececec;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
    padding: 50px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 25px;

  }
  #mobile{
    display: flex;
    align-items: center;
  }
  #mobile i{
    color:#000000;
    font-size: 24px;
    padding-left: 20px;
  }

  #close{
    position:absolute;
    top: 15px;
    left: 15px;
    color: #84a2ac;
    font-size: 20px;
    display: initial;
  }
#footer .copyright{
  text-align:start ;
}

}


